@charset "UTF8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #192F43, #17446E, #6A98C3, #A8CCED);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(10, 19, 27, 0.603);
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1{
    color: #17446E;
    text-align: center;
    text-shadow: 1px 1px 2px #07121d;
    ;
}

h2{
    color: #192F43;
}

p{
    text-align: justify;
}